.contact {
  padding-bottom: 80px;

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include mmax(991){
      flex-direction: column;
    }
  }

  &__left {
    flex: 0 0 66.3%;
    max-width: 66.3%;
    @include mmax(991){
      max-width: 100%;
      margin-bottom: 20px;
      padding-right: 0;
      flex: 1;
    }
  }

  &__form {
    flex: 0 0 31.7%;
    max-width: 31.7%;
    position: sticky;
    top:30px;
    @include mmax(991){
      position: static;
      margin:  0 auto  ;
      max-width: 100%;
      flex: 1;
      display: flex;
      width: 100%;
    }
    .form-wrap{
      margin: 0 auto;
    }
    .simple__form-title{
      margin-bottom: 20px;
    }

  }

  &__top {
    background-color: #fff;
    border-radius: 12px;
    padding: 19px 20px;
    box-shadow: 5px 7px 16px rgb(0 0 0 / 4%);
    margin-bottom: 22px;
  }

  &__title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__notes {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }

  &__info-list {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 20px;
    @include mmax(767){
      flex-direction: column;
    }
  }

  &__info-item {
    padding: 0 15px;
    display: flex;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;

    .img {
      margin-top: 3px;
      margin-right: 10px;
    }

    a {
      display: block;
      white-space: nowrap;
      color: inherit;

      &.email {
        color: rgba(13, 37, 62, .63);
      }
    }
  }

  &__expert-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__expert-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;

    @include mmax(767){
      flex: 0 0 100%;
      max-width: 100%;
    }

  }

  &__expert-wrap {
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 5px 7px 16px rgb(0 0 0 / 4%);
    padding: 20px 16px 15px 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__avatar {
    width: 115px;
    //height: 115px;
    margin-right: 15px;
  }

  &__image-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 6.5px solid #fff;
    box-shadow: 0 8px 16px rgb(0 0 0 / 8%);

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  &__image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 84.7%, .16);
    height: 100%;
    border-radius: 50%;
    overflow: visible;
  }

  &__personal-info {
    padding-top: 7px;
    flex: 1;
  }

  &__name {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 7px;
  }

  &__job,
  &__lngs,
  &__email {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 7px;
  }

  &__lngs {
    opacity: 0.46;
  }

  &__phone {
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
    display: block;
    margin-bottom: 4px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}