.help {
  padding-bottom: 120px;
  @include mmax(991) {
    padding-bottom: 60px;
  }

  &_row {
    .container-fluid {
      @extend .container
    }

    .help__wrap {
      flex-direction: column;
      @include mmax(991) {
        flex-direction: row;
      }
    }

    .help__img {
      flex: 1;
      max-width: none;
      border-radius: 26px;
      @include mmax(991) {
        flex: 0 0 30%;
        max-width: 30%;
        margin-top: 20px;
        border-radius: unset;
      }
      //@include    mmax(575){
      //  display: none;
      //}

      img {
        height: 450px;
        width: 100%;
        @include mmax(991) {
          height: 100%;
        }
      }
    }

    .help__list {
      display: flex;
      justify-content: space-around;
      flex: 1;
      max-width: none;
      margin-top: -150px;
      @include mmax(991) {
        display: block;
        flex: 0 0 70%;
        max-width: 70%;
        margin-top: -10px;
      }
      @include mmax(575) {
        flex: 1;
        max-width: 100%;
        margin-top: 10px;
      }
    }

    .help__item {
      background-color: #FFFFFF;
      padding: 49px 32px 45px 48px;
      flex: 0 0 29%;
      max-width: 29%;

      @include mmax(991) {
        max-width: none;
        flex: none;

      }
      @include mmax(575) {
        padding-left: 15px;
      }


      &:hover {
        padding: 49px 32px 45px 48px;
        margin-left: 0;
      }
    }

    .help__img{
      margin-top: 20px;
    }
  }

  &__wrap,
  &__wrapper {
    display: flex;
  }

  &__img {
    flex: 0 0 50%;
    max-width: 50%;
    border-radius: 0 26px 26px 0;
    background-color: #ccaf95;
    overflow: hidden;
    margin-top: 50px;
    @include mmax(991) {
      flex: 0 0 30%;
      max-width: 30%;
      margin-top: 20px;
    }
    @include mmax(575) {
      display: none;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    flex: 0 0 540px;
    max-width: 540px;
    @include mmax(1024) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include mmax(991) {
      flex: 0 0 70%;
      max-width: 70%;
      margin-top: -10px;
    }
    @include mmax(575) {
      flex: 1;
      max-width: 100%;
      margin-top: 10px;
    }
  }

  &__item {
    padding: 65px 28px 28px 87px;
    will-change: transform, box-shadow;
    transform: translate(0);
    transition: transform .25s ease-out, box-shadow .25s ease-out, background-color 0.25s ease-out;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;

    @include mmax(991) {
      padding: 30px;
    }
    @include mmax(575) {
      padding-left: 15px;
    }


    &:hover {
      margin-left: -20px;
      padding-left: 107px;
      box-shadow: 8px 9px 11px rgb(0 0 0 / 8%);
      z-index: 5;
      background: #FFFFFF;
      @include mmax(991) {
        margin-left: 0;
        padding-left: 30px;
      }
      @include mmax(575) {
        padding-left: 15px;
      }
    }
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 17px;
  }

  &__text {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 12px;
    width: 85%;
    @include mmax(575){
      width: auto;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #0d253e;
    color: #fff;
    border-radius: 13px;
    text-align: center;
    width: 153px;
    height: 56px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-left: auto;
    margin-top: auto;
    transition: all 0.3s;

    &:hover {
      background-color: $gold;
    }
  }
}
