.select{
  cursor: pointer;
  &__dropdown-menu {
    width: auto;
    min-width: 100%;
    top: calc(100% + 18px);
    position: absolute;
    left: 0;
    background-color: #fff;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 6.5px 13px 10.5px;
    box-shadow: 0 8px 10px rgb(0 0 0 / 6%);
    z-index: 500;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;

    @include mmax(991) {
      top: 100%;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: $gold;
    }

    .el-checkbox-group {
      background: #FFFFFF;
      display: flex;
      flex-direction: column;
    }
  }
  li{
    cursor: pointer;
    padding: 5px 0;

    &:not(:last-child){
      border-bottom: 1px solid  hsla(0, 0%, 84.7%, .16);
    }
    &.active{
      background-color:#fdf6f2;
    }
    span{
      padding:  0 3px;
    }

    &:hover{
      background: hsla(0, 0%, 84.7%, .16);
    }
  }

}
